/* 

Background color #f6efe7;
Primary Color #EDDEC9;
Secondary Color #f6dd79;

*/

;:root{
    /* --background-color: #f6efe7; */
    --primary-color: #EDDEC9;
    --secondary-color: #f6dd79;
    --dark-color: #2C291F;
    --brown-color: #F09B78;
    
    }
    
    
    html, body {
      margin: 0;
      padding: 0;
      /* background-color: var(#F09B78); */
      background-image: url("/icon/Form Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-color: aqua;
    }
    
    canvas {
      display: block;
    }
    
    body{
    
      font-family: 'Rubik', sans-serif;
      /* background-color: #f7f5f4; */
    }

    form{

    background-color: #F09B78;
    padding: 10px;
    border: 1px solid black;
    width: 600px;

    }

    
    header{
    
      /* 
      
      PUT ANY IMAGE YOU WANT TO DISPLAY BEHIND THE HEADER TODO
      background-color: #f6dd79;
      */
      background-color: #f6dd79;
      
    }
    
    .nav{
    
    position: relative;
    height: 10;
    display: flex;
    align-items: center;
    padding: 0 40px;
    z-index: 2;
    width: 100%;
    
    }
    
    .logo-container{
    flex: 0.3;
    }
    
    .logo{
    
    width: 100%;
    
    }
    .list-items{
    
    display: flex;
    flex: 0.5;
    justify-content: space-between;
    align-items: center;
    }
    
    .list{
    
    list-style: none;
    
    }
    
    .link{
    
    color: var(--dark-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    
    }


    